
.ArticleComponent {
  cursor: pointer;
  background: #7900FF;
  &:nth-child(2n) {
    background: #333;
  }
  &:nth-child(3n) {
    background: #ccff00;
    .meta {
      color: #020202;
    }
  }
  .meta {
    color: #fff;
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    padding: 2rem;
    width: 100%;
  }
  .admin {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    i {
      margin: 4px 8px;
    }
  }
  position: relative;

}