@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import '@fortawesome/fontawesome-free//css/all.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-neon {
  background: #ccff00;
}

.Toastify__toast-body {
  text-align: left;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
